/* =============================================================================
  HTML5 CSS Reset Minified - Eric Meyer
  ========================================================================== */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
li{list-style:none}


/* =============================================================================
  My CSS
  ========================================================================== */

/* ---- base ---- */

html,body{
    width:100%;
    height:100%;
    overflow: hidden;
}

html{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body{
    font:normal 75% Arial, Helvetica, sans-serif;
    /*background: linear-gradient(#c9dbe9 0%, #fff 100%);*/
    background: url(/public/img/fond.svg);
    height: 500px;
    width: 500px;
    background-size: cover;
}

canvas{
    display:block;
    vertical-align:bottom;
}

/* ---- particles.js container ---- */

#particles-js{
    position: absolute;
    width: 90%;
    z-index: 1;
    right: 11px;
    bottom: 7px;
}

/*-- water animation --*/

body {
  overflow: hidden;
}

.ocean {
    width:100%;
    position:absolute;
    bottom: -50px;
    left:0;
    display: none;

}

.wave {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x;
    position: absolute;
    top: -198px;
    width: 6400px;
    height: 198px;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
    top: -175px;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
    opacity: 1;
}

@keyframes wave {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: -1600px;
    }
}

@keyframes swell {
    0%, 100% {
        transform: translate3d(0,-25px,0);
    }

    50% {
        transform: translate3d(0,5px,0);
    }
}

/*-- Cloud --*/
#clouds{
    position: absolute;
    top: 30%;
    left: 19%;
}

/*Time to finalise the cloud shape*/
.cloud {
    width: 200px; height: 60px;
    background: #fff;

    border-radius: 200px;
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;

    position: relative;
}

.cloud:before, .cloud:after {
    content: '';
    position: absolute;
    background: #fff;
    width: 100px; height: 80px;
    position: absolute; top: -15px; left: 10px;

    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;

    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    -moz-transform: rotate(30deg);
}

.cloud:after {
    width: 120px; height: 120px;
    top: -55px; left: auto; right: 15px;
}

.cloud:first-child {
    opacity: 0.8;
}

.cloud:last-child {
    top: -14px;
}


/*-- SUN --*/
.sun{
    width:9rem;
    height:9rem;
    border-radius:50%;
    fill: #f9f9d4 !important;
    stroke: #f9f9d4;
    transform-origin: 50% 50%;
    position: fixed;
    top: 12%;
    right: 15%;

}
/*-- TREES --*/

.tree1,
.tree2 {
    fill: #b29b6e !important;
    height: 9rem;
    width: auto;
    position: absolute;
}

.tree1{
    z-index: 3;
    bottom: 8.5rem;
    right: 3rem;
    transform: rotate(-2deg);

}

.tree2{
    z-index: 5;
    bottom: 8rem;
    right: 9rem;
    transform: rotate(-5deg);
}

.pulse {
    animation-name: pulse_animation;
    animation-duration: 5000ms;
    transform-origin:70% 70%;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}


@keyframes pulse_animation {
    0% { transform: scale(1); }
    30% { transform: scale(1.04); }
    40% { transform: scale(1.08); }
    50% { transform: scale(1.04); }
    60% { transform: scale(1.03); }
    70% { transform: scale(1.05); }
    80% { transform: scale(1.03); }
    100% { transform: scale(1); }
}

/*-- Hill --*/
.grass {
    background-color: #9DBAA0;
    height: 17rem;
    position: absolute;
    z-index: 4;
    bottom: -135px;
    width: 65%;
    border-radius: 82% 24%;
    right: -14%;
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
}


/*-- Slider --*/

input[type=range] {
    -webkit-appearance: none;
    border: 1px solid white;
    width: 90%;
    position: absolute;
    bottom: 20px;
    left: 5%;
    border-radius: 10px;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 13px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid white;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: greenyellow;
    margin-top: -4px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

/*-- Background --*/
.background{
    z-index: 0;
    height: 100%;
    position: absolute;

}