/* =============================================================================
  HTML5 CSS Reset Minified - Eric Meyer
  ========================================================================== */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
li{list-style:none}


/* =============================================================================
  My CSS
  ========================================================================== */

/* ---- base ---- */

html,body{
    width:100%;
    height:100%;
    overflow: hidden;
    font-family: 'Arial', Helvetica, sans-serif;
}

html{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body{
    font:normal 75% "Gotham Book", Helvetica, sans-serif;
    background: url(/img/fond.svg) bottom center;
    background-size:cover;
}

@font-face {
    font-family: 'Gotham Book';
    font-style: normal;
    font-weight: normal;
    src: local('Gotham Book'), url('/font/GothamBook.woff') format('woff');
}

canvas{
    display:block;
    vertical-align:bottom;
}

/* ---- particles.js container ---- */

#particles-js{
    position: absolute;
    width: 90%;
    z-index: 1;
    right: 11px;
    bottom: 7px;
}

/*-- water animation --*/
.wave1, .wave2 {
    height: 30px;
    position: absolute;
    width: 100%;
    z-index: 12;
    left: 0;
    bottom: 67px;
}

.wave1 {
    animation: wave-animation1 8.7s infinite linear;
}
.wave2 {
    animation: wave-animation1 6.3s infinite linear;
}

@-webkit-keyframes wave-animation1 {
    0%   {
        background-position: 0 0;
    }
    100% {
        background-position: 1601px 0;
    }
}
@-moz-keyframes wave-animation1 {
    0%   {
        background-position: 0 0;
    }
    100% {
        background-position: 1601px 0;
    }
}
@-o-keyframes wave-animation1 {
    0%   {
        background-position: 0 0;
    }
    100% {
        background-position: 1601px 0;
    }
}
@keyframes wave-animation1 {
    0%   {
        background-position: 0 0;
    }
    100% {
        background-position: 1601px 0;
    }
}

.wave1 {
    background: url('http://www.templates-preview.com/bootstrap-templates/300111854/images/wave1.png') 0 0 repeat-x;
}
.wave2 {
    background: url('http://www.templates-preview.com/bootstrap-templates/300111854/images/wave2.png') 0 0 repeat-x;
}

/*-- Cloud --*/
#clouds{
    position: absolute;
    bottom: 36%;
    left: 19%;
}

/*Time to finalise the cloud shape*/
.cloud {
    width: 200px; height: 60px;
    background: #fff;
    transition: all 1s;
    border-radius: 200px;
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;

    position: relative;
}

.cloud:before, .cloud:after {
    content: '';
    position: absolute;
    background: inherit;
    width: 100px; height: 80px;
    position: absolute; top: -15px; left: 10px;

    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;

    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    -moz-transform: rotate(30deg);
}

.cloud:after {
    width: 120px; height: 120px;
    top: -55px; left: auto; right: 15px;
}

.cloud:first-child {
    opacity: 0.8;
}

.cloud:last-child {
    top: -14px;
}

/*-- SUN --*/
.sun{
    width:9rem;
    height:9rem;
    border-radius:50%;
    fill: #f9f9d4;
    stroke: #f9f9d4;
    transform-origin: 50% 50%;
    position: fixed;
    top: 12%;
    right: 15%;
    transition: all 1s;

}
/*-- TREES --*/

.tree1,
.tree2 {
    fill: #FFF !important;
    height: 9rem;
    width: auto;
    position: absolute;
}

.tree1{
    z-index: 3;
    bottom: 8.5rem;
    right: 3rem;
    transform: rotate(-2deg);
}

.tree2{
    z-index: 5;
    bottom: 7rem;
    right: 10rem;
    transform: rotate(-5deg);
}

.rond{
    position: absolute;
    right: 1rem;
    bottom: 11rem;
    width: 122px;
    height: auto;
    transition: all 1s;
}

.pointu{
    position: absolute;
    right: 9.2rem;
    bottom: 11rem;
    width: 70px;
    height: 120px;
    transition: all 1s;
    transform: rotate(-6deg);
}

.pulse {
    animation-name: pulse_animation;
    animation-duration: 4000ms;
    transform-origin:70% 70%;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}



@keyframes pulse_animation {
    0% { transform: scale(1); }
    10% { transform: scale(1.08); }
    30% { transform: scale(1.02); }
    50% {transform: scale(1.08); }
    70%{ transform: scale(1.02); }
    100% { transform: scale(1); }
}

/*-- Hill --*/
.grass {
    background-color: #9DBAA0;
    height: 17rem;
    position: absolute;
    z-index: 4;
    bottom: -135px;
    width: 65%;
    border-radius: 82% 24%;
    right: -14%;
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
}


/*-- Background --*/
.background{
    z-index: 0;
    object-fit: fill;
    position: absolute;
    width: auto;
    height: 100%;

}

/*-- Footer --*/
.footer {
    z-index: 200;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 120px;
    fill: #A8C9AC;
}

.range {
    position: absolute;
    width: 33%;
    height: 5px;
    bottom: 47px;
    left: 33%;
    z-index: 201;

}

/*-- Country --*/

.country {
    background-color: rgba(255,255,255,.8);
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
    height: 29px;
    width: 41px;
    margin: 5px 1% 5px 1%;
    position: absolute;
    top:5%;
    left: 3%;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    text-align: left;
    overflow: hidden;
}
.country:hover {
    height: 125px;
    width: 8%;
}

.country-list li{
    padding-top: 12px;
    color: #313131;
    text-decoration: none;
    cursor: pointer;
}

.country-flag{
    width: 30px;
    height: 20px;
    background: url(/img/fr.svg)  center;
    background-size:cover;
    transition: all .5s;
    padding: 5px;
}

.green-dot{
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #9DBAA0;
}

/*-- Slider --*/

.irs--square .irs-handle{
    border: 3px solid #dedede !important;
}

.irs--square .irs-min, .irs--square .irs-max {
    background-color: unset !important;
    color: #fff !important;
}

.irs--square .irs-from, .irs--square .irs-to, .irs--square .irs-single {
    background-color: unset !important;
}

.irs--square .irs-bar {
    background-color: #fff !important;
}

