{% extends 'base.html.twig' %}

{% block body %}
<!-- Water animation -->
<div class="ocean">
    <div class="wave"></div>
    <div class="wave"></div>
</div>

<!-- Cloud -->
<div id="clouds">
    <div class="cloud"></div>
    <div class="cloud"><div id="particles-js"></div></div>
</div>

<!-- Slider -->
<div class="range">
    <input type="range" min="1" max="5" steps="1" value="5">
</div>

<ul class="range-labels">
    <li>Il y a 24 mois</li>
    <li>Il y a 12 mois</li>
    <li>Il y a 6 mois</li>
    <li>Il y a 2 mois</li>
    <li class="active selected">Aujourd'hui</li>
</ul>

{% endblock %}

