{% extends 'base.html.twig' %}

{% block body %}
{#<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 1080" preserveAspectRatio="none" class="background"><defs><linearGradient id="Dégradé_sans_nom_10" x1="960" y1="2" x2="960" y2="902" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#edf5de"/><stop offset="1" stop-color="#c0e9d9"/></linearGradient><linearGradient id="Dégradé_sans_nom_69" x1="4342.97" y1="1342.04" x2="3773.03" y2="2907.96" gradientTransform="translate(-3096 -1586)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#ecf5de"/><stop offset="0.33" stop-color="#e6f1e0"/><stop offset="0.74" stop-color="#d7e5e5"/><stop offset="1" stop-color="#c9dbe9"/></linearGradient></defs><title>fond</title><g id="paysage"><rect y="2" width="1920" height="900" style="fill:url(#Dégradé_sans_nom_10)"/><rect x="4" y="1" width="1916" height="1076" transform="translate(1924 1078) rotate(180)" style="fill:url(#Dégradé_sans_nom_69)"/><path d="M207,152c-53.05,0-98.9,22.78-120.61,55.82A178,178,0,0,0,45,203c-74,0-134,44.32-134,99s60,99,134,99c53.05,0,98.9-22.78,120.61-55.82A178,178,0,0,0,207,350c74,0,134-44.32,134-99S281,152,207,152Z" style="fill:#fff;opacity:0.7000000000000001"/><path d="M267.45,130.4a28.91,28.91,0,0,1,37.1,0l456.65,382L1236.4,910H-664.4l475.2-397.56Z" style="fill:#a8c9ac"/><ellipse cx="523" cy="499" rx="134" ry="99" style="fill:#fff;opacity:0.9"/><path id="nuages" d="M1083.75,332c-20.18-35.81-68-61-123.75-61-74,0-134,44.32-134,99,0,47.91,46.06,87.87,107.25,97,20.18,35.81,68,61,123.75,61,74,0,134-44.32,134-99C1191,381.09,1144.94,341.13,1083.75,332Z" style="fill:#fff;opacity:0.67"/><path id="nuages-2" data-name="nuages" d="M1121,452c-47.46,0-89.16,18.23-113,45.73A181.34,181.34,0,0,0,983,496c-74,0-134,44.32-134,99s60,99,134,99c47.46,0,89.16-18.23,113-45.73a181.34,181.34,0,0,0,25,1.73c74,0,134-44.32,134-99S1195,452,1121,452Z" style="fill:#fff;opacity:0.86"/><path id="nuages-3" data-name="nuages" d="M914.24,407.92C901.68,362.87,847.7,329,783,329c-74,0-134,44.32-134,99,0,38.37,29.55,71.65,72.76,88.08C734.32,561.13,788.3,595,853,595c74,0,134-44.32,134-99C987,457.63,957.45,424.35,914.24,407.92Z" style="fill:#fff;opacity:0.86"/><path id="nuages-4" data-name="nuages" d="M581,329c-46.08,0-86.73,17.19-110.84,43.36A180.26,180.26,0,0,0,441,370c-74,0-134,44.32-134,99s60,99,134,99c46.08,0,86.73-17.19,110.84-43.36A180.26,180.26,0,0,0,581,527c74,0,134-44.32,134-99S655,329,581,329Z" style="fill:#fff;opacity:0.7000000000000001"/><path id="nuages-5" data-name="nuages" d="M481,673c0-54.68-60-99-134-99-51.94,0-97,21.84-119.22,53.76C165.83,636.47,119,676.69,119,725c0,54.68,60,99,134,99,51.94,0,97-21.84,119.22-53.76C434.17,761.53,481,721.31,481,673Z" style="fill:#fff;opacity:0.76"/><path id="nuage" d="M304,722c-53.05,0-98.9,22.78-120.61,55.82A178,178,0,0,0,142,773C68,773,8,817.32,8,872s60,99,134,99c53.05,0,98.9-22.78,120.61-55.82A178,178,0,0,0,304,920c74,0,134-44.32,134-99S378,722,304,722Z" style="fill:#fff;opacity:0.56"/><path id="nuages-6" data-name="nuages" d="M1411.75,782c-20.18-35.81-68-61-123.75-61-74,0-134,44.32-134,99,0,47.91,46.06,87.87,107.25,97,20.18,35.81,68,61,123.75,61,74,0,134-44.32,134-99C1519,831.09,1472.94,791.13,1411.75,782Z" style="fill:#fff;opacity:0.67"/><path id="montagne2" d="M1291.32,811.47a23.22,23.22,0,0,1,29.81,0l83.71,70,98.61,82.5H1109l98.61-82.5Z" style="fill:#9dbaa0"/><path id="montagne2-2" data-name="montagne2" d="M652.28,343.38a30.73,30.73,0,0,1,39.44,0L1020.5,618.44,1369,910H-25L323.5,618.44Z" style="fill:#a8c9ac"/><path id="nuages-7" data-name="nuages" d="M1718.75,771c-20.18-35.81-68-61-123.75-61-74,0-134,44.32-134,99,0,47.91,46.06,87.87,107.25,97,20.18,35.81,68,61,123.75,61,74,0,134-44.32,134-99C1826,820.09,1779.94,780.13,1718.75,771Z" style="fill:#fff;opacity:0.67"/><path id="nuages-8" data-name="nuages" d="M987.75,756c-20.18-35.81-68-61-123.75-61-74,0-134,44.32-134,99,0,47.91,46.06,87.87,107.25,97,20.18,35.81,68,61,123.75,61,74,0,134-44.32,134-99C1095,805.09,1048.94,765.13,987.75,756Z" style="fill:#fff;opacity:0.67"/><rect x="185" y="910" width="286" height="23" style="fill:#a8c9ac"/><path id="montagne2-3" data-name="montagne2" d="M700,753.74a23.75,23.75,0,0,1,30.46,0l83.39,69.76L912.45,906H518l98.61-82.5Z" style="fill:#9dbaa0"/><path id="montagne2-4" data-name="montagne2" d="M854.21,797.56a23.4,23.4,0,0,1,30,0l83.6,69.94,98.61,82.5H672l98.61-82.5Z" style="fill:#9dbaa0"/><path id="montagne2-5" data-name="montagne2" d="M619.45,781.18a28.48,28.48,0,0,1,36.55,0l81.59,68.26L837.45,933H438l99.86-83.54Z" style="fill:#9dbaa0"/><path id="montagne2-6" data-name="montagne2" d="M1092.47,777a26.09,26.09,0,0,1,33.51,0l81.86,68.48,98.61,82.5H912l98.61-82.5Z" style="fill:#9dbaa0"/><path id="montagne2-7" data-name="montagne2" d="M30,807.77a25.28,25.28,0,0,1,32.45,0l82.16,68.74L243,958.82H-150.55l98.39-82.31Z" style="fill:#9dbaa0"/><path id="nuages-9" data-name="nuages" d="M1993.75,187c-20.18-35.81-68-61-123.75-61-74,0-134,44.32-134,99,0,47.91,46.06,87.87,107.25,97,20.18,35.81,68,61,123.75,61,74,0,134-44.32,134-99C2101,236.09,2054.94,196.13,1993.75,187Z" style="fill:#fff;opacity:0.67"/><rect x="1397" y="930" width="523" height="82" style="fill:#a8c9ac"/><rect y="925" width="1920" height="39" style="fill:#9dbaa0"/><rect y="964" width="1920" height="116" style="fill:#a8c9ac"/></g></svg>#}

<!-- Water animation -->
<div class="wave2"></div>

<!-- Cloud -->
<div id="clouds">
    <div class="cloud"></div>
    <div class="cloud"><div id="particles-js"></div></div>
</div>


<!-- Sun -->
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 357 363" class="sun pulse"><title>Plan de travail 8</title><g id="Calque_9" data-name="Calque 9"><circle id="soleil" cx="179" cy="186" r="94"/><circle id="anneau1" cx="179" cy="186" r="118" style="fill:none;stroke-miterlimit:10;stroke-width:3px"/><circle id="anneau2" cx="179" cy="186" r="143" style="fill:none;stroke-miterlimit:10;stroke-width:18px"/><circle id="anneau3" cx="179" cy="186" r="167" style="fill:none;stroke-miterlimit:10;stroke-width:5px"/></g></svg>

<!-- Hill -->
<div class="grass"></div>

<!-- Trees -->
<div class="trees">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 108 212" class="tree1"><title>arbre_mort1</title><g id="paysage"><path d="M85,102l23,110H52s8-66,3-67-18-11-28-30c0,0-10-26-27-34,0,0,18-1,30,19,0,0,8,10,9,13s10.49-24.68,1-31c-9-6-26-24-23-37,0,0,5,19,20,26,8.92,4.16,11.82,5.59,16,15,4,9-6,33-6,37,0,1,6,6,10,3,8.12-6.09-2-23,3-29,8.11-9.73,20-34,20-34s7-28-6-34S47,14,43,0c0,0,21.18,18,34,21,13,3,16,25,16,25s8-20,3-37c0,0,16,20,5,49S85,102,85,102Z"/></g></svg>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33.61 166.23" class="tree2"><title>arbre_mort2</title><g id="paysage"><path d="M9.56,85.89l-3.5,80.33H23.53s-4.69-76.1-2.4-85.84,11.11-21,12.26-25.88S31,38.54,28.52,35.9,28.12,42,28,47.07s-8.59,10.31-9.68,19.29-10.08-27-9.16-30.92,4.41-14.37,7.5-18.78S16.21,5.27,11.29,0c0,0,2.23,3.61.63,10.42S2.41,24.62.58,32.41,1.15,56.17,9.56,85.89Z" /></g></svg>
</div>
    <svg width="148" height="148" viewBox="0 0 148 148" fill="none" xmlns="http://www.w3.org/2000/svg" class="rond">
        <circle cx="74" cy="74" r="74" fill="url(#paint0_linear)"/>
        <defs>
            <linearGradient id="paint0_linear" x1="74" y1="0" x2="74" y2="148" gradientUnits="userSpaceOnUse">
                <stop stop-color="#FEF7E3"/>
                <stop offset="1" stop-color="#ADCCAF"/>
            </linearGradient>
        </defs>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 97 174" class="pointu"><defs><linearGradient id="Dégradé_sans_nom_86" x1="-3.97" y1="52.01" x2="98.44" y2="137.95" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#fff7e4"/><stop offset="0.19" stop-color="#f9f4e0"/><stop offset="0.44" stop-color="#e9ebd6"/><stop offset="0.72" stop-color="#ceddc4"/><stop offset="1" stop-color="#accbae"/></linearGradient></defs><title>arbre_2</title><g id="paysage"><path d="M40.87,7.89C39,5.1,33.44,5.86,32.4,9.05,20.54,45.28-17.83,177.63,58.33,167.22S62,39.61,40.87,7.89Z" style="fill:url(#Dégradé_sans_nom_86)"/></g></svg>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 232" preserveAspectRatio="none" class="footer"><title>footer</title><g id="paysage"><g id="terre"><path d="M0,.22V232H1920V0c-174.77,75.52-539.1,127.45-960.25,127.45C539,127.45,175,75.62,0,.22Z"/></g></g></svg>
<!-- scripts -->


<!-- Slider -->
<div class="range">
    <input type="range" id="range-slider" min="1" max="5" steps="1" value="5">
</div>

<ul class="range-labels">
    <li class="by-range" data-month="24">Il y a 2 ans</li>
    <li class="by-range" data-month="12">Il y a 1 an</li>
    <li class="by-range" data-month="6">Il y a 6 mois</li>
    <li class="by-range" data-month="2">Il y a 2 mois</li>
    <li class="active selected by-range" data-month="0">Aujourd'hui</li>
</ul>

{% endblock %}

