{% extends 'base.html.twig' %}

{% block body %}

    <div class="country">
        <div class="country-flag"></div>
        <ul class="country-list">
            <li id="de" class="country-element">Allemagne</li>
            <li id="br" class="country-element">Brésil</li>
            <li id="us" class="country-element">Etats-Unis</li>
            <li id="fr" class="country-element current__country">France</li>
        </ul>
    </div>

<!-- Water animation -->
<div class="wave2">
</div>

    <div class='container button-water'>
        <span class='button--pulse'></span>
    </div>

<!-- Cloud -->
<div id="clouds">
    <div class="cloud"></div>
    <div class="cloud"><div id="particles-js"></div></div>
</div>
<div class='container button-clouds'>
    <span class='button--pulse'></span>
</div>

<!-- Sun -->
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 357 363" class="sun pulse"><title>Plan de travail 8</title><g id="Calque_9" data-name="Calque 9"><circle id="soleil" cx="179" cy="186" r="94"/><circle id="anneau1" cx="179" cy="186" r="118" style="fill:none;stroke-miterlimit:10;stroke-width:3px"/><circle id="anneau2" cx="179" cy="186" r="143" style="fill:none;stroke-miterlimit:10;stroke-width:18px"/><circle id="anneau3" cx="179" cy="186" r="167" style="fill:none;stroke-miterlimit:10;stroke-width:5px"/></g></svg>
    <div class='container button-sun'>
        <span class='button--pulse'></span>
    </div>
<!-- Hill -->
<div class="grass"></div>

<!-- Trees -->
<div class="trees">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 108 212" class="tree1"><title>arbre_mort1</title><g id="paysage"><path d="M85,102l23,110H52s8-66,3-67-18-11-28-30c0,0-10-26-27-34,0,0,18-1,30,19,0,0,8,10,9,13s10.49-24.68,1-31c-9-6-26-24-23-37,0,0,5,19,20,26,8.92,4.16,11.82,5.59,16,15,4,9-6,33-6,37,0,1,6,6,10,3,8.12-6.09-2-23,3-29,8.11-9.73,20-34,20-34s7-28-6-34S47,14,43,0c0,0,21.18,18,34,21,13,3,16,25,16,25s8-20,3-37c0,0,16,20,5,49S85,102,85,102Z"/></g></svg>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33.61 166.23" class="tree2"><title>arbre_mort2</title><g id="paysage"><path d="M9.56,85.89l-3.5,80.33H23.53s-4.69-76.1-2.4-85.84,11.11-21,12.26-25.88S31,38.54,28.52,35.9,28.12,42,28,47.07s-8.59,10.31-9.68,19.29-10.08-27-9.16-30.92,4.41-14.37,7.5-18.78S16.21,5.27,11.29,0c0,0,2.23,3.61.63,10.42S2.41,24.62.58,32.41,1.15,56.17,9.56,85.89Z" /></g></svg>
</div>
    <div class='container button-trees'>
        <span class='button--pulse'></span>
    </div>
    <svg width="148" height="148" viewBox="0 0 148 148" fill="none" xmlns="http://www.w3.org/2000/svg" class="rond">
        <circle cx="74" cy="74" r="74" fill="url(#paint0_linear)"/>
        <defs>
            <linearGradient id="paint0_linear" x1="74" y1="0" x2="74" y2="148" gradientUnits="userSpaceOnUse">
                <stop stop-color="#FEF7E3"/>
                <stop offset="1" stop-color="#ADCCAF"/>
            </linearGradient>
        </defs>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 97 174" class="pointu"><defs><linearGradient id="Dégradé_sans_nom_86" x1="-3.97" y1="52.01" x2="98.44" y2="137.95" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#fff7e4"/><stop offset="0.19" stop-color="#f9f4e0"/><stop offset="0.44" stop-color="#e9ebd6"/><stop offset="0.72" stop-color="#ceddc4"/><stop offset="1" stop-color="#accbae"/></linearGradient></defs><title>arbre_2</title><g id="paysage"><path d="M40.87,7.89C39,5.1,33.44,5.86,32.4,9.05,20.54,45.28-17.83,177.63,58.33,167.22S62,39.61,40.87,7.89Z" style="fill:url(#Dégradé_sans_nom_86)"/></g></svg>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 232" preserveAspectRatio="none" class="footer"><title>footer</title><g id="paysage"><g id="terre"><path d="M0,.22V232H1920V0c-174.77,75.52-539.1,127.45-960.25,127.45C539,127.45,175,75.62,0,.22Z"/></g></g></svg>
<!-- scripts -->


<!-- Slider -->
<div class="range">
    <input type="text" class="js-range-slider" name="my_range" value="" id=""/>
</div>

<div class="overlay" style="width: 100%; height: 100%; background-color: rgba(0,0,0,0.5); z-index: 220; position: absolute; cursor: pointer;">
    <div class="text-overlay">
        <div>Bienvenue sur la météo de l’environnement</div></br>
        <div style="margin-top: 40px">Cliquez sur un des quatre éléments du paysage pour connaitre son actualité climatique et environnementale.</div></br>
        <div style="margin-top: 40px">Comparez les données entre la France, l’Allemagne, les États-Unis et le Brésil.</div></br>
    </div>

</div>

    <div class="modal">
        <div class="modal__content">
            <span class="arrow">x</span>
            <h2 class="modal__title">Découvrez l'actualité qui a impacté la biodiversité aujourd'hui ...</h2>
            <div class="modal__content-val">
                <object type="image/svg+xml" data="{{ asset('img/ring.svg') }}"></object>
            </div>
        </div>
    </div>
    <div class="overlay"></div>
{% endblock %}

